body{
  background-color: #126e82;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo-container{
  width: 30rem;
  padding-inline-start: 0px;
}
.todo-list{
  list-style-type: none;
  background-color: whitesmoke;
  color:rgb(0, 0, 0);
  border: rgb(56, 185, 17) solid 1px;
  border-radius: 10px;
  margin-bottom: 7px;
  display: flex;
  justify-content:flex-end ;
  align-items: center;
}

.input-group.mb-3 {
  width: 30rem;
}
.btn-danger {
  margin: 3px;
}
.btn-info{
  margin: 3px;
}
